<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/">
                <img border="0" title="韩语留学班" alt="韩语留学班" src="/Content/img/Logo.gif"></a>
        </div>
        <div class="channel">
        </div>
    </div>
    <span class="blank12" style="height: 0px"></span>
    <div class="nav_channel">
        <span class="nav"><a class="nobg" href="/">首页</a> <a href="/">
            本班介绍</a> <a href="/">招生简章</a> <a href="/>
                师资风采</a> <a href="http://news.163.com/review/">韩国名校</a> <a href="http://focus.news.163.com/">
                    留学规划</a> <a href="http://war.news.163.com/">留学优势</a> <a href="http://history.news.163.com/">
                        F&A</a> <a href="http://discovery.163.com/">关于我们</a> </span>
    </div>
    <span class="blank9"></span>
    @RenderBody()
    <div class="footer">
        <!-- 页脚 -->
        <div class="foot">
            <div class="copyRight">
                Copyright 2012 Hglx.cn. All Rights Reserved.<br />
                全国免费课程咨询热线：400-675-7163、15922429006、北大韩国留学班<br />
                2012年第七届北京大学韩国留学班 北京大学举办 地址：中国北京海淀区颐和园路5号
            </div>
        </div>
    </div>
</body>
</html>
